#videos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly   ;
    margin:2% 0 3% 0;
    background-color: rgb(46, 46, 122);
    gap: 20%;
    height: 70vh;
    color: #fff;
}

#videos h2{
    font-size: 60px;
    margin-bottom: 20px;
}